@charset "UTF-8";

//color
$white: #fff;
$black: #000;
$light-black: #191919;
$light-black-2: #111111;
$light-black-3: #141414;
$grey: #2e2e2e;

$brand: #1d64d6;

$background-grey: #9b9b9b;

//font-family
$f: "Roboto", serif;

//breakpoint
$xl-max:1199.98px;
$xl-min:1200px;
$lgl-max:1024px;
$lg-max:991.98px;
$lg-min:992px;
$md-max:767.98px;
$md-min:768px;
$sm-max:575.98px;
$sm-min:576px;
$xs-max:370px;

$green:#51c416;
$rose:#2e2e2e;
$grey-bar:#d8d8d8;
$grey-btn-bg: rgba(0,0,0,0.7);
   